@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --red: #F65066;
    --orange: #E43E2B;
    --white: #fff;
    --blue: #76E4FE;
    --bg-color: #21212B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Permanent Marker', cursive;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
}


/* HEADER */

header {
    margin-bottom: 150px;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--red);
    font-weight: bold;
    font-size: 30px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    height: 8vh;
}

.bem-vindo {
    color: var(--white);
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list a {
    font-family: 'Permanent Marker', cursive;
    color: var(--red);
    font-weight: bold;
    text-transform: uppercase;
}

/* HEADER */

/* relatorio clientes */

.sistema {
    display: flex;
    justify-content: space-around;
    width: 940px;
    margin: 0 auto;
    color: #fff;
    align-items: center;
    font-family: cursive;
}

.sistema-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
    width: 940px;
    padding: 10px;
}

.box-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 20px;
}

#pesquisar {
    width: 300px;
    height: 40px;
    border: 1px solid var(--blue);
    padding: 10px;
    font-size: 16px;
    color: var(--bg-color);
    background-color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 20px;
}

.btn-search {
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid var(--orange);
    height: 40px;
    width: 40px;
    text-transform: uppercase;
    transform: all 0.3s ease-in-out;
}

.sistema-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--blue);
    width: 1200px;
    padding: 10px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.table {
    border: 1px solid var(--orange);
    width: 1150px;
    text-align: center;
}

.table td {
    font-family: cursive;
    border: 1px solid var(--orange);
    padding: 10px;
}

.btns {
    width: 100px;
}

.btnEditar {
    background-color: #9b111e;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
}

.btnEditar:hover {
    background-color: #7c0e18;
}

.btnExcluir {
    background-color: #9b111e;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
}

.btnExcluir:hover {
    background-color: #7c0e18;
}

/* relatorio clientes */